@import url('https://fonts.googleapis.com/css2? family=Poopins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body
{ background: url("https://tse4.mm.bing.net/th?id=OIP.UmVzlymSIQwjKgsecu6TEwHaFj&pid=Api&P=0&h=180");
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 315px;
    /* min-height: 100vh; */
    
}
.list
{
    /* position: absolute; */
    /* bottom: 200px; */
    background-color:rgba(255, 255, 255, 0);
    width: 350px;


}
.navigateButton {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.Data{
    position: fixed;
    top: 10px;
    right: 100px;
    padding: 10px;
    background-color: #abaaab;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.Data1{
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #abaaab;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}